/*#videos, #writing, #art {
  width: 100%;
  min-width: 100px;
  padding: 0px 0;
  text-align: left;
  padding-top: 0px;
  line-height: 1.5;
  padding-right: 15px;
}

#videos_title, #writing_title, #art_title {
  padding-top: 0px;
}*/

hr {
    border-top: 6px dotted #8B0000;

}

table {
  max-width:100%;
  align-content:left;
  align-items: left;
}
/*
#video_category, #writing_category, #art_category{
   min-width:300px;
  }

#contentcolumn {
  vertical-align:middle;
  padding-left:40px;
  max-width:50%;
}

#info_row {
  min-height:600px;
}
*/

body {
  background-color:#FCD299;
  font-family: 'Trebuchet MS', sans-serif;
  width:80%;
  padding-left: 3%;
  padding-top: 3%;
/*  text-transform: lowercase;s*/
/*
}
h1{
  font-family: 'Rubik', sans-serif;
}
h1,h2,h3{
  padding-left:20px;
  padding-top:0px;
}

h2{
  padding:0px;
}
h2:hover,a:hover,#myname:hover,#videos_title:hover,#writing_title:hover,#art_title:hover{
	color:#F08080;
  cursor: pointer;
} 
#headshot:hover,#headshot_v2:hover {
  cursor: pointer;
}

.explanation {
  font-size: 11px;
  padding-top: 10px;
  padding-bottom: 0px;
  color:#696969;

}
*/
/** {cursor: url(https://cur.cursors-4u.net/anime/ani-1/ani196.ani), url(https://cur.cursors-4u.net/anime/ani-1/ani196.png), auto !important;} 
*/
a {
  padding:0px;
  text-decoration:none;
  color:#8B0000;

}

figcaption{
  font-size:10px;
  text-align:left;
}

/*
th, td, tr {
  vertical-align:top;
  padding:0px;
  padding-left:20px;
}

div {
  vertical-align:top;
  padding:0px;
  overflow-x:auto;
}

ul {
  list-style:none;
}*/

img {
  max-width:400px;
  height:auto;

/*  border: 1px solid #696969;*/

}
/**/

/*.row {
  display: flex;
}

.column {
  flex: 50%;
  padding: 5px;
}*/

/* end slideshow styling */